@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Gudea, sans-serif;
    font-weight: 600;
    color: black;
}

/* headings */

h1, h2 {
    text-decoration: none;
    font-family: Permanent Marker,sans-serif;
    letter-spacing: 2px;
    color: black;
    font-size: 60px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    font-family: Gudea, sans-serif;
    color: rgb(133, 133, 133);
    font-size: 30px;
    text-align: center;
    text-decoration: inherit; /* no underline */
}

#menu li {
    letter-spacing: 2px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    text-decoration: inherit; /* no underline */
}

#menu a:hover {
  text-decoration: none;
  border: 4px solid black;
  color:black;
  padding: 1px 1px;
  font-size: 35px;
  letter-spacing: 1px;
  position: relative;
  outline: none;
  background-color: transparent;
}

#midsection {
  background-image: linear-gradient(to right,#c6ffdd,#fbd786,  #f7797d); 
}

/* header image */

#header-image {
    overflow: hidden;
    width: 100%;
    display: block;
}

#bar {
    height: 500px;
    display: block;
    padding-top: 5%;
    padding-left: 10%;
    overflow: hidden;  
    text-align: left;
    object-fit: cover;
}

.bar-heading {
    font-size: 35px;
    overflow: hidden; 
    text-align: left;
    position: absolute;
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 5%;
    object-fit: cover;
}

#food {
    height: 500px;
    display: block;
    padding-top: 5%;
    padding-left: 10%;
    overflow: hidden;  
    text-align: left;
    object-fit: cover;
}


.food-heading {
    font-size: 35px;
    overflow: hidden; 
    text-align: left;
    position: absolute;
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 5%;
    object-fit: cover;
}

#nature {
    height: 500px;
    display: block;
    padding-top: 5%;
    padding-left: 10%;
    overflow: hidden;  
    text-align: left;
    object-fit: cover;
}

.nature-heading {
    font-size: 35px;
    overflow: hidden; 
    text-align: left;
    position: absolute;
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 5%;
    object-fit: cover;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  
}

.map-responsive iframe {
  top: 1%;
  height: 120%;
  width: 150%;
  position: absolute;
}

.container {
  border-top-left-radius: 25px 85px;
  border-top-right-radius: 10px 30px;
  border-bottom-left-radius: 30px 18px;
  border-bottom-right-radius: 60px 24px;
  display: block;
  position: relative;
  border: solid 3px #f5a613;
  padding: 20px 20px 20px 20px;
  max-width: 800px;
  width: 70%;
  margin: 100px auto 0;
  font-size: 17px;
  line-height: 28px;
  transform: rotate(-1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  transition: all 0.13s ease-in;
}

.container:hover {
  transform: translateY(-10px) rotate(1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.container:hover .border {
  transform: translateY(4px) rotate(-5deg);
}

.border {
  position: absolute;
  transition: all 0.13s ease-in;
}

.border:before,
.border:after {
  color: #515d9c;
  font-size: 15px;
  position: absolute;
}

.tl {
  position: absolute;
  left: -50px;
  top: -63px;
  font-weight: 600;
}

.tl:before {
  left: 120px;
  top: 30px;
}

.tl:after {
  left: 0px;
  top: 80px;
}

.tr {
  right: -50px;
  top: -63px;
  font-weight: 600;
}

.tr:before {
  left: 0;
  top: 30px;
}

.tr:after {
  left: 130px;
  top: 80px;
}

.bl {
  left: -50px;
  bottom: -71px;
  font-weight: 600;
}

.bl:before {
  left: 120px;
  top: -30px;
}

.bl:after {
  left: 0px;
  top: -90px;
}

.br {
  right: -50px;
  bottom: -63px;
  font-weight: 600;
}

.br:before {
  left: 0;
  top: -10px;
}

.br:after {
  right: -10px;
  top: -1px;
}

pre {
  background: #edeff5;
  padding: 20px;
}

  footer {
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    height: -1%;
    width: 100%;
  }

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    text-align: center;
    font-size: 200%;
    margin: 1%;
    padding: 5%;
    padding-bottom: 4%;
    color: black;
}

/* Experience Section */
h3 {
  font-size: 230%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 45%;
  padding-right: 30%;
  border: solid 6px #f5a613;
  border-style: dotted;
}

.description {
  color:black;
  font-size: 230%;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 15%;
  padding-right: 10%;
  text-align: center;
}


.container2 {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 100%;
}
 
/* Bookings page */
input[type=date] {
  resize: none;
}

input[type=text], input[type=date], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}



label {
  padding: 12px 12px 12px 0px;
  display: inline-block;
}

input[type=submit] {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  padding: 12px 20px;
  font-size: 20px;
  font-weight: bold;
  width: 75%;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  background-size: 300% 100%;
}

.container3 {
  border-radius: 5px;
  background-color: #ff9966;
  padding: 80px;
}

.col-25 {
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Media queries */
  /* for small screen sizes from 800px wide and down */
  @media screen and (max-width: 800px) {
      .bar-heading,.food-heading,.nature-heading  {
        font-size: 115%;
      }

      .background-bar,.background-food,.background-nature {
        opacity: 0;
      }

 /* Bookings */
      .col-25, .col-75, input[type=submit] {
          width: 100%;
          margin-top: 0;
      }


  /*For larger to medium screens size from 1200px wide and down*/
  @media screen and (max-width: 1200px) {
    .bar-heading {
      font-size: 10%;
      color: blue;
       .background-bar,.background-food,.background-nature {
        opacity: 0;
      }
    }
  











