@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Gudea, sans-serif;
    font-weight: 600;
    color: black;
}

/* headings */

h1, h2 {
    text-decoration: none;
    font-family: Permanent Marker,sans-serif;
    letter-spacing: 2px;
    color: black;
    font-size: 60px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    font-family: Gudea, sans-serif;
    color: rgb(133, 133, 133);
    font-size: 30px;
    text-align: center;
    text-decoration: inherit; /* no underline */
}

#menu li {
    letter-spacing: 2px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    list-style-type: none;
    text-decoration: inherit; /* no underline */
}

#menu a:hover {
    border: 4px solid black;
    color:black;
    padding: 2px 2px;
    font-size: 30px;
    letter-spacing: 1px;
    position: relative;
    outline: none;
    background-color: transparent;
    display: table;
}

/* header image */

#header-image {
    overflow: hidden;
    width: 100%;
    display: block;
}

#bar {
    height: 500px;
    display: block;
    padding-top: 5%;
    padding-left: 10%;
    overflow: hidden;  
    text-align: left;
    object-fit: cover;
}

.bar-heading {
    font-size: 35px;
    overflow: hidden; 
    text-align: left;
    position: absolute;
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 5%;
    object-fit: cover;
    background: url(images/background.jpg) no-repeat center center;
}

.background-bar {
    padding-top: 35%;
    padding-bottom: -20%;
    height: 50%;
    opacity: 35%;
    position: absolute;
    left: 55%;
    top: 150%;
}

#food {
    height: 500px;
    display: block;
    padding-top: 5%;
    padding-left: 10%;
    overflow: hidden;  
    text-align: left;
    object-fit: cover;
}


.food-heading {
    font-size: 35px;
    overflow: hidden; 
    text-align: left;
    position: absolute;
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 5%;
    object-fit: cover;
}

.background-food {
    padding-top: 35%;
    padding-bottom: -20%;
    height: 50%;
    opacity: 35%;
    position: absolute;
    left: 55%;
    top: 230%;
}

#nature {
    height: 500px;
    display: block;
    padding-top: 5%;
    padding-left: 10%;
    overflow: hidden;  
    text-align: left;
    object-fit: cover;
}

.nature-heading {
    font-size: 35px;
    overflow: hidden; 
    text-align: left;
    position: absolute;
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 5%;
    object-fit: cover;
}

.background-nature {
    padding-top: 35%;
    padding-bottom: -20%;
    height: 50%;
    opacity: 35%;
    position: absolute;
    left: 55%;
    top: 315%;
}
#responsive-map {
    padding-top: 1%;
    position : relative;
}

.container {
    border-top-left-radius: 50px 150px;
    border-top-right-radius: 20px 120px;
    border-bottom-left-radius: 90px 18px;
    border-bottom-right-radius: 120px 24px;
  
    display: block;
    position: relative;
    border: solid 3px #f5a613;
    padding: 40px 60px;
    max-width: 800px;
    width: 70%;
    margin: 100px auto 0;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in;
  }
  
  .container:hover {
    transform: translateY(-10px) rotate(1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
  }
  
  .container:hover .border {
    transform: translateY(4px) rotate(-5deg);
  }
  
  .border {
    position: absolute;
    transition: all 0.13s ease-in;
  }
  
  .border:before,
  .border:after {
    color: #515d9c;
    font-size: 15px;
    position: absolute;
  }
  
  .tl {
    position: absolute;
    left: -50px;
    top: -63px;
    font-weight: 600;
  }
  
  .tl:before {
    left: 120px;
    top: 30px;
  }
  
  .tl:after {
    left: 0px;
    top: 80px;
  }
  
  .tr {
    right: -50px;
    top: -63px;
    font-weight: 600;
  }
  
  .tr:before {
    left: 0;
    top: 30px;
  }
  
  .tr:after {
    left: 130px;
    top: 80px;
  }
  
  .bl {
    left: -50px;
    bottom: -71px;
    font-weight: 600;
  }
  
  .bl:before {
    left: 120px;
    top: -30px;
  }
  
  .bl:after {
    left: 0px;
    top: -90px;
  }
  
  .br {
    right: -50px;
    bottom: -63px;
    font-weight: 600;
  }
  
  .br:before {
    left: 0;
    top: -10px;
  }
  
  .br:after {
    right: -10px;
    top: -20px;
  }
  
  pre {
    background: #edeff5;
    padding: 20px;
  }










