@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Gudea, sans-serif;
    font-weight: 400;
    color: black;
}

/* headings */

h1, h2 {
    text-decoration: none;
    font-family: Permanent Marker,sans-serif;
    letter-spacing: 2px;
    color: black;
    font-size: 60px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    font-family: Gudea, sans-serif;
    color: rgb(133, 133, 133);
    font-size: 30px;
    text-align: center;
    text-decoration: inherit; /* no underline */
}

#menu li {
    letter-spacing: 2px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    list-style-type: none;
    text-decoration: inherit; /* no underline */
}

#menu a:hover {
    border: 4px solid black;
    color:black;
    padding: 2px 2px;
    font-size: 30px;
    letter-spacing: 1px;
    position: relative;
    outline: none;
    background-color: transparent;
    display: table;
}

/* header image */

#header-image {
    overflow: hidden;
    width: 100%;
}


/* Media queries */
    /* for small screen sizes from 800px wide and down */
    @media screen and (max-width: 800px) {
         {

        }
    }