@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Gudea, sans-serif;
    font-weight: 600;
    color: black;
}

/* headings */

h1, h2 {
    text-decoration: none;
    font-family: Permanent Marker,sans-serif;
    letter-spacing: 2px;
    color: black;
    font-size: 60px;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

nav {
    font-family: Gudea, sans-serif;
    color: rgb(133, 133, 133);
    font-size: 30px;
    text-align: center;
    text-decoration: inherit; /* no underline */
}

#menu li {
    letter-spacing: 2px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    list-style-type: none;
    text-decoration: inherit; /* no underline */
}

#menu a:hover {
    border: 4px solid black;
    color:black;
    padding: 2px 2px;
    font-size: 30px;
    letter-spacing: 1px;
    position: relative;
    outline: none;
    background-color: transparent;
    display: table;
}

/* header image */

#header-image {
    overflow: hidden;
    width: 100%;
}

#bar {
    max-width: 50%;
    height: 500px;
    padding-top: 100px;
    padding-left: 10%; 
    padding-right: 5%;
    overflow: hidden; 
    float: left;
    clear: both
   
}

#activities>p {
    font-size: 35px;
    padding-left: 50%;
    padding-right: 10%;
    padding-top: 13%;
    padding-bottom: 22%;
}

/* Media queries */
    /* for small screen sizes from 800px wide and down */
    @media screen and (max-width: 800px) {
        #bar {
          
            padding-top: 100px;
            padding-left: 3%;
            padding-right: 17%;
            overflow: hidden; 
            float: left;      
        }

        #activities>p {
            font-size: 25px;
            padding-right: 3%;
            padding-left: -1%;
            padding-top: 20%;
            padding-bottom: 22%;
        }

        }

    /*For medium screen sizes from 950px wide and down*/
    @media screen and (min-width: 950px) {
        #bar {
            padding-top: 100px;
            padding-left: 3%;
            padding-right: 6%;
            overflow: hidden; 
            float: left;      
        }

        #activities>p {
            font-size: 30px;
            padding-right: 1%;
            padding-left: 15%;
            padding-top: 20%;
            padding-bottom: 22%;
        }

        }
    }